@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
box-sizing: border-box;
}
.logo img{
    border: 2px solid rgba(0,0,1,.2);
}

header{
    background-color: tomato;
}
.hero img{
    width: 100%;
    height:auto;
}

.hero-section1, .hero-section2{
    max-width:500px ;
    background-color: aquamarine;
    padding:1rem;
 
    margin:0 auto;
    margin-top:1rem;
}

.section1{
    border:2px solid green;
    max-width: 500px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    margin-top:2rem;
}
.section1 img{
   width:200px;
   height: auto;

}

#section2{
   display:grid;
   grid-template-columns: 1fr;
   justify-items: center;
   gap:1rem;

   margin-top:2rem;
}

#section2 img{
   width: 300px;
   height: 400px
}

.section3{
display:grid;
justify-items: center;
}

.section3 img{
    width: 300px;
}

.section3 iframe{
    width: 300px;
}