@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
  background-color:#f3f3f3 ;
  
}

h1, h2,h3{
    background-color:#5c3040;
    border-radius: .2rem;
    color:#f9ebeb;
    border-bottom: 1px solid black;
    text-align: center;
    padding:.6rem;
    font-family: 'Roboto' 'sans-serif';

}
p{
    font-family: 'Arimo'; 
}
.hero img{
    width: 100%;
    height:auto;
}

.hero-section1, .hero-section2{
    max-width:500px ;
    background-color: #e9d9ee;
    padding:1rem;
 
    margin:0 auto;
    margin-top:2rem;
}
.hero-section2b{
    border-bottom: 1px solid rgba(212, 212, 245, 0.9);
}
header{
    background-color: #5c415d;
    color:#f3f3f3;
    margin-bottom:.3rem;
}
.logo {
    width:80px;
    height:auto;
    border:2px solid rgba(250, 21, 5, 0.2);
    margin-left:.3rem ;
    align-self: center;
 
}
#menu {
    font-size: 1.5rem;
    border:0;
    background-color: none;
    position:absolute;
    right:.5rem;
    top:.5rem;
    color:#000
}

#menu::before {
	content: "☰";
    font-weight: bold;
}

#menu.open::before {
	content: "X";
    color:red;
    font-weight: bold;
}
.navigation{
    display: flex;
    flex-direction: column;
    background-color:#f3f3f3;
   
}

.navigation a {
    display: none;
    padding:.5rem;
    margin:.5rem;
    text-align: center;
    text-decoration: none;
    color:black;
}
.navigation a:hover{
    background-color: #907392;
    font-weight:700;
}
.open a {
    display: block;
}

.section1{
    border: 2px solid #e9d9ae;
    max-width: 500px;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom:2rem;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.promo{
    background-color: red;
    padding:.6rem;
    color:white;
    text-align: center;
    max-width: 80%;
    margin:0 auto;
    border-bottom: 2px solid white;
    border-radius: .5rem;
}
.prom{
    color:red;
    
}
.psection1 h2 {
    margin-top: .5rem;
}
.psection1{
    background-color: #e9d9ee;
    padding-left: .5rem;

}

.psection1 p{
  
    padding: .5rem;

}

.sec1{
   width:200px;
   /*max-height:160px; for small scree*/

}

.sec1a{
    width:98%;
    height:auto;
    padding:.5rem;
 }
 
.sub1{
    padding:.2rem
}

.sale{
    display: block;
    width:100px;
    height:auto;
    justify-self: center;
    margin-top: 1rem;
 } 

#section2{
   display:grid;
   grid-template-columns: 1fr;
   justify-items: center;
   gap:1rem;

   margin-top:2rem;
}

#section2 img{
   width: 420px;
   height: auto;
   border:1px solid rgba(119, 119, 253, 0.9);
   border-radius:.5rem;
}

.section3{
display:grid;
justify-items: center;
margin-top: 5rem;
}

.section3 img{
    width: 300px;
    margin:.5rem;
}

.section3 iframe{
    width: 420px;
    height:250px;
}
.psection3 h2 {
    text-align: center;
    border-bottom: 2px solid #9e2525;
    border-radius: .5rem;
    width:60%;
    margin-bottom:.5rem;
  /*  background-color: #e9d9ee; for section */
    background-color: #5c415d;
    color:#f3f3f3;
}
.info{
padding-left:1rem;
margin-top: 1rem;

}

.info p{
   background-color: #e9d9ee;
   padding:.5rem; 
   border-radius: .5rem ;
}

.booknow{
    text-align: center;
    padding:.6rem;
    border: 2px solid #907392;
    color:black;
    margin-top: 1rem;
    text-decoration: none; 
 }

 .booknow:hover{
    background-color: #dfc5e0;;
    color:black;
    font-weight:700;
}

 .clss{
    display: block;
    width: 90%;
    margin:0 auto;
 }
.book2{
    margin-top: 1rem;
 
}


 footer{
    background-color: #dad1ba;
    text-align: center;
    padding:1rem;
    margin-top: 3rem;
    border-top: 2px solid rgba(0,0,1,.2);
    
    
 }

.flogo img{
    display: inline-block;
    width: 40px;
    height:auto;
    margin: .3rem;
    border-radius: 1rem;
}
.flogo img:hover{
    border: 2px solid #f3f3f3;
    width:22px
   
}

/** TABLE*/
.dan-table{
   
    border:2px solid rgba(49, 38, 38, 0.1);
    letter-spacing:1px;
    border-collapse: collapse;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    }

th,td{
    border: 3px solid rgba(211, 235, 206, .5);
    text-align: center;
}
th{
   background-color: tomato; 
}
tbody > tr:nth-of-type(even){
    background-color: rgba(211, 235, 206, .5);
}

caption{
    caption-side: bottom;
    margin:.5rem;
    font-weight: bold;
    border-bottom: 2px solid rgba(250, 21, 5, 0.2);
}


/* Subscribtion confirmation page*/
.subconfirm{
    border: 2px solid #e6d2e7;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding:.5rem;
    background-color: #f9ebeb;
}

.subconfirm p{
   padding-top:.5rem;
}
.under{
    color:red;
    text-transform: uppercase;
}