@media screen and (min-width:500px){
    #menu {
        display:none;
    }

    header{
        background-color: brown;
        display:grid;
        grid-template-columns: 200px 1fr;
        align-content: center;
       
        
    }
    .navigation{
        display: flex;
        flex-direction: row;
        height: 40px;
        align-self: center;
        justify-items: flex-end;
        background-color: none;
    }
    
    .navigation a{
        display: inline-block;
        align-self: center;
        justify-self: end;
       
       
    }
    .logo{
        display: block;
        width: 120px;
        height: auto;
    }

    .hero-section1{
        max-width:400px ;
        background-color: #e9d9ee;
        padding:1rem;
     
        margin:0 auto;
        margin-top:2rem; 
    }
    
    .hero img{
        position: relative;
    }

 
}



@media  screen and (min-width:750px) {
    .hero img{
        position: relative;
    }

    .hero-section1{
       position:absolute;
       left:.2rem;
       bottom: 2rem;
    }

    .hero-section2{
        padding:3rem;
         width:900px
     }

     .section1{
        border:none;
        max-width: 95%;
        height: 500px;
        margin-top: 3rem;
        gap:2rem;
     }
     .psection1{
        margin-bottom: 2rem;
     }
    
     .sec1{
        width:100%;
        height:auto;
        /*max-height:160px; for small scree*/
     }
     .sale{
        display: block;
        width:200px;
        height:auto;
        justify-self: center;
        margin-top: 1rem;
     } 

     .psection1 h2 {
        margin-top: 1rem;
    }
    
    .sub1{
        padding:1rem
    }
    #section2{
       
        margin-bottom: 1rem;
        width:600px;
        height:auto;
        display:grid;
        grid-template-columns:  1fr 1fr;
        margin: 0 auto;
        margin-top: 11rem;
     }

     #section2 img{
        width: 300px;
        height:350px;
        justify-content: center;
        justify-self: center;
     }

     .section3{
        width:100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top:1rem;
        background-color: #e7a0f1;

     }
     .psection3 h2{
      margin-top: 1rem;
     }

     .psection3 h2 {
        text-align: center;
        border-bottom: 2px solid #9e2525;
        border-radius: .5rem;
        width:100%;
       
    }

     .book2{
        margin-bottom: 1rem;
     }

    .dan {
       justify-self: center;
       padding-top:2rem;
     }

     .flogo img:hover{
        border: 2px solid #f3f3f3;
        width:42px
       
    }
}
