/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
 

 /*----------- apply a natural box layout model to all elements --------------*/
 * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
 /*

 */
 header,footer{
    background-color: rgba(61, 21, 21, .9);
    color:white;
    text-align: center;
    padding:.5rem;
 }

 body{
    font-size: 16px;
    max-width: 900px;
    font-family:'Roboto', 'Arimo', 'sans-serif';
    background-color: rgba(217, 200, 233,.1);
 }

.form1{
    background-color: rgba(143, 171, 172,.2);
    margin: .75rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding:.75rem;
}

 .form1 label{
    display:block;
   /* padding-top:.5rem;
    padding-bottom:.3rem;
*/
    font-size: .9rem;
 }
 

 .form1 div  {
    /*color:rgb(255, 166, 0);*/
    font-size: .9rem;
 }

 .heady,.heady2,
 .urname,.writt,.dat{
  margin-top: 1.5rem;
 }

 .heady2{
  margin-bottom: .5rem;
 }
.optional {
    color:blue;
}

.form1 input[type="text"],
.form1 input[type="date"],
.form1 select,
.form1 textarea{
    background-color: #eee;
    display: block;
    border:solid 1px grey;
    padding:.75rem;
    color:#555;
    width:100%;
    max-width: 400px;
    appearance: none;
    margin-top: .2rem;
}
/*
input[type=checkbox] {
	margin: .3rem;
}

*/
.chekbox input[type="checkbox"] {
height:.6rem;


}

.chekbox label {
  cursor:pointer;
  padding:.7rem;
  max-height: 1rem;
  }
 

/*
.form1 input[type="radio"]{
    margin-top:0;
    padding:0;
}
*/
.form1 textarea{
    min-height: 100px;
}

 
.form1 input:required {
    border-bottom: 3px solid red;
}
 
.form1 input:required:valid {
    border-bottom: 2px solid rgb(0, 255, 21);
}
 
.form1 input[type="submit"]{
    border:none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color:#fff;
    border-radius: 5px;
    padding:.8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2%  2rem 0; 
    box-shadow:1px 1px 4px #999;
 
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}
.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}
.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
/*
.stars{
  display: flex;
  justify-content: space-between;
  margin-top:0;
}
/*
.star-rating input {
  display: none;
}
.star-rating label{
opacity: 40%;
cursor:pointer;
padding:8px;
}

.star-rating:hover label{
  opacity: 100%;
}
  
.star-rating label:hover {
    opacity: 100%;
 }
    
 .star-rating label:hover ˜ label  {
      opacity: 40%;
  }
      
        

/* STAR RATING   ˜

.star-rating {
    display: flex;
    align-items: center;
    
    flex-direction: row-reverse;
    justify-content: space-between;

    position: relative;
  }
   hide the inputs 
  .star-rating input {
    display: none;
  }
  /* set properties of all labels 
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  */


  /* Hide the default checkbox */
