@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;500&display=swap');

:root {
    --paragraph-font:'Arimo', 'Roboto','sans-serif';
    --primary-color: green;
    --secondary-color:white;
    --accent1-color: rgb(60,200,60);
    --accent2-color: rgb(100, 250, 60, .3);
}
h1,h2, p{
    text-align: center;
}
body{
     box-sizing:border-box;
     font-family: 'Arimo', 'Roboto', 'sans-serif';
     
 }
main, header, footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: .5rem;
}
.hero-img img {
    width:100%;
    height:auto;
}
main{
   background-color: var(--accent2-color);
    margin:.5rem auto;
    display: grid;
    grid-template-columns: 1fr ;
    justify-items: center;
}
header, footer{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    text-align: center; 
    border-bottom: 12px solid rgb(185, 247, 18);

}
.weather img{
    max-width: 100px;
}
.pic{
    justify-self: center;
}
.show {
    color: red;
}