
@media screen and (min-width: 400px){
    header{
        display:grid;
        grid-template-columns: 1fr 2.5fr;
        gap:2rem;
        max-width: 1000px;
        margin:0 auto;
        align-items: center;
    }
    ul, li { margin: 0; padding: 0; }
   
    .navigation{
        display:flex;
    }
    .navigation li{
       display:block;
       justify-content: flex-end;
       flex:1 1 100%; 
    }
    .navigation a {
        text-align:center;
    }
    #menu{
        display:none;
    }
     
    figure {
        max-width: 600px;
        max-height: 700px;
    }
    figure img {
        max-width: 350px; 
        max-height: fit-content;
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
       /* grid-template-columns:repeat(auto-fit, minmax(200px, 1fr, 1fr)); */
    }
}

@media screen and (min-width :  1000px){
    .navigation{
        display:flex;
    }
    ul, li { margin: 0; padding: 0; }

    .navigation li{
       display:block;
       flex:1 1 100%; 
    }
    .navigation a {
        text-align:center;
    }
    #menu{
        display:none;
    }
     
    figure {
        max-width: 600px;
        max-height: 700px;
    }
    figure img {
        max-width: 250px; 
        max-height: fit-content;
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
