body{
    font-family: "Roboto", serif;
}
header,main,footer{
    max-width: 640px;
    margin:1rem auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding:.5rem;
    background-color: rgba(0, 60, 200,.2);
}
main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}
section{
    padding:.5rem;
    background-color: aliceblue; 
}